@import url("./grid-container.css");
@import url("./login.css");
@import url("./fonts.css");
@import url("./nav.css");
@import url("./profile.css");
@import url("./cards.css");
@import url("./meetings.css");
@import url("./todo.css");
@import url("./dashboard-main.css");
@import url("./direct-messages.css");
@import url("./documents.css");
@import url("./events.css");
@import url("./datepicker.css");

body {
  background-color: #f2f2f2;
  color: gray;
}
.none {
  display: none;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}

.faint-text {
  color: rgb(158, 154, 154);
}

.hr-default {
  width: -webkit-fill-available;
  background-color: #bdbcbc;
  border: none;
  height: 0.5px;
}
.text-red {
  color: rgb(184, 55, 55);
}
.text-orange {
  color: #b3b300;
}
.more-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.more-button {
  border: 1px solid rgba(184, 55, 55, 0.7);
  outline: none;
  background-color: #fcfcfc;
  box-sizing: border-box;
  height: 22px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 100px;
  color: #5e5c5c;
  cursor: pointer;
  transition-duration: 0.12s;
}
.more-button:hover {
  background-color: rgb(184, 55, 55);
  border-color: rgb(184, 55, 55);
  color: #fcfcfc;
}
.timeline-dot {
  height: 10px;
  width: 10px;
  background-color: #fcfcfc;
  margin: none !important;
  border: 1px solid rgba(184, 55, 55, 0.7);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.ant-timeline-item-head {
  background-color: transparent !important;
}
