.document-card {
  margin-top: 20px;
  width: 55%;
}
.documents {
  justify-content: space-between;
}
.document {
  align-items: center;
  border-bottom: 1px solid #bdbcbc;
  padding: 10px 0px;
  cursor: pointer;
}
.document:hover {
  background-color: rgb(230, 225, 225);
}
.document-icon {
  color: rgb(184, 55, 55);
  font-size: 35px;
}
.document-name {
  font-family: "Jost", sans-serif;
  margin-left: 35px;
  font-size: 17px;
}
