.app-container {
  padding: 40px 20px;
  display: grid;
  width: 100%;
  grid-gap: 1em;
  box-sizing: border-box;
  grid-template-columns: 1.2fr 2fr 0.8fr;
}
.grid-item {
  width: initial !important;
}
.dm-documents-row {
  width: 100%;
}
@media screen and (max-width: 1401px) {
  div.app-container {
    grid-template-columns: 1.2fr 2fr;
  }
  div.event-card {
    height: 280px;
  }
}

@media screen and (max-width: 1200px) {
  div.dashboard-main-left {
    width: 35%;
  }
  div.dashboard-main-right {
    width: 65%;
  }
  div.todo-card,
  div.dm-card,
  div.document-card {
    height: 380px;
  }
}
@media screen and (max-width: 1151px) {
  div.app-container {
    grid-template-columns: 100%;
  }
  div.nav-container {
    justify-content: flex-end;
  }
  div.nav-items {
    width: 60%;
  }
}

@media screen and (max-width: 801px) {
  div.nav-buttons {
    display: flex;
  }
  div.nav-container {
    padding-right: 0px !important;
  }
  div.nav-items {
    position: fixed;
    right: 0;
    top: 0;
    padding: 40px 60px;
    box-sizing: border-box;
    z-index: 9999;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    background-color: #fcfcfc;
  }
}
@media screen and (max-width: 701px) {
  div.todo-card {
    height: fit-content;
  }
  div.dashboard-main-card {
    flex-direction: column-reverse;
    height: fit-content;
    width: 100%;
  }
  div.dashboard-main-right-nav {
    padding: 30px 20px;
  }
  div.dashboard-main-left {
    width: 100%;
  }
  div.dashboard-main-right {
    width: 100%;
  }
  div.dashboard-main-item {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 601px) {
  div.dm-documents-row {
    flex-direction: column;
  }
  div.dm-card,
  div.document-card {
    width: 100%;
    height: fit-content;
  }
}
